__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheelhouse/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
env/
ENV/
.env
.env.*
.python-version
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
.ipynb_checkpoints/
pip-wheel-metadata/
